@page "/prescriptions/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New prescription</h3>
<hr />
<br />

<FormComponent ButtonText="Create Prescription" prescription="prescription" OnVaildSubmit="@CreatePrescription" />

@code { Prescription prescription = new Prescription();

    private IList<Appointment> Appointments;


    protected async override Task OnInitializedAsync()
    {
        Appointments = await _client.GetFromJsonAsync<List<Appointment>>($"{Endpoints.AppointmentsEndpoint}");
        
    }

    private async Task CreatePrescription()
    {
        await _client.PostAsJsonAsync(Endpoints.PrescriptionsEndpoint, prescription);
        _navManager.NavigateTo("/prescriptions/");
    } }