@page "/medicines/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View</h3>
<FormComponent medicine="medicine" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    Medicine medicine = new Medicine();
    protected async override Task OnParametersSetAsync()
    {
        medicine = await
        _client.GetFromJsonAsync<Medicine>($"{Endpoints.MedicinesEndpoint}/{id}");
    }
}
