@page "/orderItems/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New OrderItem</h3>
<hr />
<br />

<FormComponent ButtonText="Create OrderItem" orderItem="orderItem" OnVaildSubmit="@CreateOrderItem" />

@code { OrderItem orderItem = new OrderItem();

    private IList<Order> Orders;
    private IList<Medicine> Medicines;


    protected async override Task OnInitializedAsync()
    {
        Orders = await _client.GetFromJsonAsync<List<Order>>($"{Endpoints.OrdersEndpoint}");
        Medicines = await _client.GetFromJsonAsync<List<Medicine>>($"{Endpoints.MedicinesEndpoint}");
    }

    private async Task CreateOrderItem()
    {
        await _client.PostAsJsonAsync(Endpoints.OrderItemsEndpoint, orderItem);
        _navManager.NavigateTo("/orderItems/");
    } }