@page "/orders/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Order</h3>
<hr />
<br />

<FormComponent ButtonText="Create Order" order="order" OnVaildSubmit="@CreateOrder" />

@code { Order order = new Order();

            private IList<Customer> Customers;
           

            protected async override Task OnInitializedAsync()
            {
                Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
                
            }

            private async Task CreateOrder()
            {
                await _client.PostAsJsonAsync(Endpoints.OrdersEndpoint, order);
                _navManager.NavigateTo("/orders/");
            } }