@page "/prescriptionItems/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New prescriptionItem</h3>
<hr />
<br />

<FormComponent ButtonText="Create PrescriptionItem" prescriptionItem="prescriptionItem" OnVaildSubmit="@CreatePrescriptionItem" />

@code { PrescriptionItem prescriptionItem = new PrescriptionItem();

    private IList<Medicine> Medicines;
    private IList<Prescription> Prescriptions;


    protected async override Task OnInitializedAsync()
    {
        Medicines = await _client.GetFromJsonAsync<List<Medicine>>($"{Endpoints.MedicinesEndpoint}");
        Prescriptions = await _client.GetFromJsonAsync<List<Prescription>>($"{Endpoints.PrescriptionsEndpoint}");
    }

    private async Task CreatePrescriptionItem()
    {
        await _client.PostAsJsonAsync(Endpoints.PrescriptionItemsEndpoint, prescriptionItem);
        _navManager.NavigateTo("/prescriptionItems/");
    } }