@page "/appointments/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View</h3>
<FormComponent appointment="appointment" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    Appointment appointment = new Appointment();
    protected async override Task OnParametersSetAsync()
    {
        appointment = await
        _client.GetFromJsonAsync<Appointment>($"{Endpoints.AppointmentsEndpoint}/{id}");
    }
}
